
.App-logo {
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 275px;
  padding: 20px;
  color: white;
  text-align: center;
}

.Header, .Home{
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-color:#F0F0F0;
  padding: 2em;
  font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.Container {
  width: 50%;
  margin: 0 auto;
}
label {
  display:block;
  margin-bottom:10px;
}
input {
  padding:10px;
  width: 25%;
  margin-bottom: 1em;
}
button {
  margin: 2em 0;
  padding: 1em 4em;
  display:block;
}

#student {
  padding:1em;
  background-color:#fff;
  margin: 1em 0;
}
#loader {
  width: 100px;
  display:none;
}